/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: ""; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0; position: relative; zoom: 1;}

.flex-viewport {
   max-height: 2000px; 
	-webkit-transition: all 0.2s ease-out;
	   -moz-transition: all 0.2s ease-out;
		 -ms-transition: all 0.2s ease-out;
		  -o-transition: all 0.2s ease-out;
			  transition: all 0.2s ease-out;
}

.loading .flex-viewport {max-height: 300px;}

.flexslider .slides {zoom: 1;}

/* direction nav */
.flex-direction-nav {
	height: 0;
}

.flex-direction-nav li {
	text-align: center;
}

.flex-direction-nav li a {
	display: block;
	position: absolute;
	top: 50%;
	margin-top: -25px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 20px;
	color: #fff;
	background-color: #d91d1d;
	z-index: 1000;
	cursor: pointer;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	    -ms-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}

.flex-direction-nav li a:hover,
.flex-direction-nav li a.disabled {
	color: #d91d1d;
	background-color: #fff;
	border: 1px solid #dbdbdb;
}

.flex-direction-nav li a.flex-next {
	right: 30px;
}

.flex-direction-nav li a.flex-prev {
	left: 30px;
}

/* control nav */
.flex-control-nav {
	width: 100%;
	text-align: center;
	position: absolute;
	left: 0;
	bottom: 20px;
	height: 12px;
	overflow: hidden;
}

.flex-control-nav li {
	margin: 0 0 0 10px;
	display: inline-block;
}

.flex-control-nav li:first-child {
	margin:0;
}

.flex-control-nav li a {
	width: 10px;
	height: 10px;
	display: block;
	cursor: pointer;
	border-radius: 50%;
	border: 2px solid #d91d1d;
	background-color: transparent;
	text-indent: 9999px;
}

.flex-control-nav li a.flex-active {
	border: 2px solid #d91d1d;
	background: #d91d1d;
}