/*

	Supersized - Fullscreen Slideshow jQuery Plugin
	Version : 3.2.7
	Site	: www.buildinternet.com/project/supersized
	
	Author	: Sam Dunn
	Company : One Mighty Roar (www.onemightyroar.com)
	License : MIT License / GPL License
	
*/

* {
	margin: 0;
	padding: 0;
}

body {
	background: #111;
	height: 100%;
}

img {
	border: none;
}

#supersized-loader {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 0;
	width: 60px;
	height: 60px;
	text-indent: -999em;
	background: url(../images/progress.gif) no-repeat center center;
	margin: -30px 0 0 -30px;
}

#supersized {
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	overflow: hidden;
	z-index: -999;
	height: 100%;
	width: 100%;
	margin:0 !important;
	padding:0 !important;
}

#supersized img {
	width: auto;
	height: auto;
	position: relative;
	display: none;
	outline: none;
	border: none;
	max-width:none !important;
}

#supersized.speed img {
	-ms-interpolation-mode: nearest-neighbor;
	image-rendering: 0;
}

#supersized.quality img {
	-ms-interpolation-mode: bicubic;
	image-rendering: optimizeQuality;
}

#supersized li {
	display: block;
	list-style: none;
	z-index: -30;
	position: fixed;
	overflow: hidden;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #111;
}

#supersized a {
	width: 100%;
	height: 100%;
	display: block;
}

#supersized li.prevslide {
	z-index: -20;
}

#supersized li.activeslide {
	z-index: -10;
}

#supersized li.image-loading {
	background: #111 url(../images/progress.gif) no-repeat center center;
	width: 100%;
	height: 100%;
}

#supersized li.image-loading img {
	visibility: hidden;
}

#supersized li.prevslide img,#supersized li.activeslide img {
	display: inline;
}

#controls-wrapper {
	height:60px;
	width: 100%;
	bottom: 0;
	left: 0;
	position:absolute;
	margin: 0 auto;
	z-index:30;
}

#controls {
	overflow: hidden;
	height: 100%;
	position: relative;
	text-align:center;
	z-index: 5;
}

#prevslide,#nextslide {
	position: absolute;
	top: 50%;
	margin-top: -22px;
	width: 44px;
	height: 44px;
	text-indent: -9999px;
	z-index:100;
	direction: ltr;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: 12px 19px;
	-mou-background-size: 12px 19px;
	background-size: 12px 19px;
	opacity: 1 !important;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	background-color: #fff;
}

#prevslide {
	left: 20px;
	background-image: url(../images/prev.png);
	-webkit-background-size: 12px 19px;
	-moz-background-size: 12px 19px;
	background-size: 12px 19px;
	background-position: center;
}

#nextslide {
	background-image: url(../images/next.png);
	-webkit-background-size: 12px 19px;
	-moz-background-size: 12px 19px;
	background-size: 12px 19px;
	right: 20px;
	background-position: center;
}

ul#slide-list {
	display:inline-block;
	height:60px;
	margin:0 !important;
	padding:0;
	list-style:none;
}

ul#slide-list li {
	display:block;
	float: left;
	margin: 0 5px;
	overflow:hidden;
}

ul#slide-list li a {
	display: block;
	width:6px;
	height:6px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;
	border-radius:6px;
	background:#fff;
	text-indent:-9999px;
	overflow:hidden;
	direction:ltr;
	text-decoration:none;
}

ul#slide-list li a:hover {
	cursor: pointer;
}

ul#slide-list li.current-slide a,ul#slide-list li.current-slide a:hover {
	background:#b40606;
}

#progress-back {
	z-index: 55;
	position: absolute;
	top:0;
	left: 0;
	height: 5px;
	width: 100%;
	background: url(../img/progress-back.png) repeat-x;
}

#progress-bar {
	position: relative;
	height:100%;
	width: 100%;
	background: url(../img/progress-bar.png) repeat-x;
}

#nextthumb,#prevthumb {
	z-index: 2;
	display: none;
	position: fixed;
	bottom: 61px;
	height: 75px;
	width: 100px;
	overflow: hidden;
	background: #ddd;
	border: 1px solid #fff;
	-webkit-box-shadow: 0 0 5px #000;
}

#nextthumb {
	right: 12px;
}

#prevthumb {
	left: 12px;
}

#nextthumb img,#prevthumb img {
	width: 150px;
	height: auto;
}

#nextthumb:active,#prevthumb:active {

	bottom: 59px;
}

#thumb-tray {
	position: fixed;
	z-index: 3;
	bottom: 0;
	left: 0;
	background: url(../images/bg-black.png);
	height: 150px;
	width: 100%;
	overflow: hidden;
	text-align: center;
	-moz-box-shadow: 0 0 4px #000;
	-webkit-box-shadow: 0 0 4px #000;
	box-shadow: 0 0 4px #000;
}

#thumb-back,#thumb-forward {
	position: absolute;
	z-index: 5;
	bottom: 42px;
	height: 108px;
	width: 40px;
}

#thumb-back {
	left: 0;
	background: url(../images/thumb-back.png) no-repeat center center;
}

#thumb-forward {
	right: 0;
	background: url(../images/thumb-forward.png) no-repeat center center;
}

#thumb-back:hover,#thumb-forward:hover {
	cursor: pointer;
	background-color: rgba(256,256,256,0.1);
}

#thumb-back:hover {
	border-right: 1px solid rgba(256,256,256,0.2);
}

#thumb-forward:hover {
	border-left: 1px solid rgba(256,256,256,0.2);
}

ul#thumb-list {
	display: inline-block;
	list-style: none;
	position: relative;
	left: 0;
	padding: 0;
}

ul#thumb-list li {
	background: #111;
	list-style: none;
	display: inline;
	width: 150px;
	height: 108px;
	overflow: hidden;
	float: left;
	margin: 0;
}

ul#thumb-list li img {
	width: 200px;
	height: auto;
	opacity: 0.5;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
	filter: alpha(opacity=60);
	-webkit-transition: all 100ms ease-in-out;
	-moz-transition: all 100ms ease-in-out;
	-o-transition: all 100ms ease-in-out;
	-ms-transition: all 100ms ease-in-out;
	transition: all 100ms ease-in-out;
}

ul#thumb-list li.current-thumb img,ul#thumb-list li:hover img {
	opacity: 1;
	-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
	filter: alpha(opacity=100);
}

#play-button:hover,#tray-button:hover {
	background-position: 0 1px;
	cursor: pointer;
}

#prevslide:hover,#nextslide:hover,#nextthumb:hover,#prevthumb:hover,ul#thumb-list li:hover {
	cursor: pointer;
}

/*Fix Supersized on iOS*

/* iPad [portrait + landscape] *
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
#supersized { margin-left:0; padding-left:0;}
}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
#supersized { width:110% !important;}
}


/* iPhone [portrait + landscape] *
@media only screen and (max-device-width: 480px) {
#supersized { margin-left:0; }
}
*/




	
